body {
    height: 100%;
}
.side-bar{
    width:250px;
    height:100%;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(62, 62, 112);
}
.dashboard{
    width:100%;
    height:100%;
    top:0px;
    left:250px;
    margin: auto;
    position: fixed;
    background: white;
    z-index: 1;
}

.availablebooks{
    display: none;
    width:100%;
    height:auto;
    top:0px;
    left:250px;
    margin: auto;
    position: absolute;
    background: white;
    z-index: 1;
}
.newarrivals{
    display: none;
    width:100%;
    height:auto;
    top:0px;
    left:250px;
    margin: auto;
    position: absolute;
    background: white;
    z-index: 1;
}
.booksborrowed{
    display: none;
    width:100%;
    height:auto;
    top:0px;
    left:250px;
    margin: auto;
    position: absolute;
    background: white;
    z-index: 1;
}
.addbooks{
    display: none;
    width:100%;
    height:auto;
    top:0px;
    left:250px;
    margin: auto;
    position: absolute;
    background: white;
    z-index: 1;
}
.user-img{
    background: url('https://img.icons8.com/bubbles/2x/user-male.png') no-repeat;
    background-size: 50%;
    background-position-x: center;
    width: 100%;
    height: 100%;
    position:absolute;
    vertical-align: middle;  
}
.user-name{
    font-family: Calibri, Helvetica, sans-serif; 
    color: white;
    position: absolute;
    top: 120px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.options-list li{
    list-style-type: none;
    padding-top: 15px;
}
.options-list{
    top:170px;
    width: 100%;
    position: absolute;
}
button{
    font-family: Calibri, Helvetica, sans-serif; 
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}
.options-list a{
    color: white;
}
.options-list a:link{
    text-decoration: none;
}
.content-dashboard table{
    padding: 30px;
    border: 1px solid white;
}
.book-details {
    display: grid;
    position: absolute;
    width:75%;
    top: 50px;
    left: 40px;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding: 10px;
  }
.book-details > button{
    background: white;
    text-align: center;
    width: 220px;
    height: 110px;
    padding: 5px 0;
    font-family: Calibri, Helvetica, sans-serif; 
    font-size: 20px;
    font-weight:bold;
    color: black;
    border-radius: 5px;
  }
hr{
    border: none;
}

.book-details > button:nth-child(1) {
    background: rgb(163, 253, 163);
  }

.book-details > button:nth-child(2) {
    background: rgb(166, 210, 238);
  }
.book-details > button:nth-child(3) {
    background: rgb(233, 143, 163);
  }
.book-details > button:nth-child(4) {
    background: rgb(230, 141, 193);
  }

.graph{
    background-size: cover;
    position: fixed;
    width:auto;
    height: 24%;
    top: 34%;
    margin-left: 60px;
    padding: auto;
    }

.graph1{
    background-size: cover;
    position: fixed;
    width:16%;
    height: 30%;
    top: 32%;
    margin-left: 370px;
    padding: auto;
       }
.graph2{
    background-size: cover;
    position: fixed;
    width:18%;
    height: 40%;
    top: 27%;
    margin-left: 740px;
    padding: auto;
       }

.graph3{
    background-size: cover;
    position: fixed;
    width:15%;
    height: 30%;
    top: 31%;
    margin-left: 1100px;
    padding: auto;
}
#wrapper ul {
    padding: 40px 10px;
    width: 100%;
    list-style-type: none;
}
#wrapper ul li {
    background-color: rgb(200, 200, 245);
    padding: 20px 0px;
    margin-bottom: 10px;
    display: table;
    width: 25%;
    float: left;
    margin-left: 20px;
}
#wrapper ul li img {
    margin-left: 20px;
    float: left;
    width: 4vw;
    height: 6vw;
    left: 10px;
}
#wrapper ul li .details {
    float: right;
    width: 75%;
    margin-bottom : 0px;
    margin-top : -10px;
    font-size: 0.6vw;
}
#wrapper ul li .details button{
    position: absolute;
    font-size: 15px;
    color: black;
    margin-left: 160px;
    margin-top: -26px;
    border-radius: 4px;
    background-color:  rgb(158, 158, 161);
}
#wrapper ul li a{
    color: black;
}
.searchTerm {
    width: 77%;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ddd;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -100px;
  }
 
.booksborrowed table {
    font-family: arial, sans-serif;
    width: 75%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 280px;
  }
  
.booksborrowed td, .booksborrowed th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
.download button{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-family: Calibri, Helvetica, sans-serif; 
    font-size: 20px;
    color: black;
    font-weight: bold;
    background: lightgreen;
    border-radius: 3px;
}

.quotes h2{
    width: 82%;
    text-align: center;
    margin-top:700px;
}
.quotes h3{
    margin-left:700px;
}

.tabslink {
    font-family: Calibri, Helvetica, sans-serif; 
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 20px;
    width: 100%
  }

  .active, .tabslink:hover {
    background-color: white;
    color: Black;
  }

form {   
  margin: auto;
  margin-top: -50px;
  width: 40%;
  padding: 80px 10px;
}
.container input[type=text]{   
    width: 100%;   
    margin: auto;  
    padding: 12px 20px;   
    display: inline-block;    
    box-sizing: border-box;   
} 
.error{
    color: red;
  }
.add-book button:hover {   
    opacity: 0.7;   
}    
.container {   
    padding: 25px; 
    margin-left: -100px;
    margin-right: 100px;
    background: rgb(200, 200, 245);
}  
.add-book button{
    background-color: #4CAF50;   
    width: 100%;  
    color: orange;   
    padding: 10px;   
    margin: 8px 0px;   
    border: none;   
    cursor: pointer;  
}
#wrapper ul li .details .close{
    position: absolute;
    font-size: 15px;
    color: black;
    margin-left: 80px;;
    margin-top: auto;
    border-radius: 4px;
    background-color: rgb(158, 158, 161);
    width: 65px;
}

@media only screen and (max-width:450px) {
    .side-bar{
        display: none;
        width:90px;
        height:100%;
        margin: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(62, 62, 112);
        z-index: 1;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 15px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        transition: 0.4s;
      }
    .menu-text{
        float: right;
        margin-left: 20px;
        margin-top: 2px;
    }
    .user-name{
        font-family: Calibri, Helvetica, sans-serif; 
        color: white;
        position: fixed;
        top: 90px;
        width: 90px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .user-img{
        background: url('https://img.icons8.com/bubbles/2x/user-male.png') no-repeat;
        background-size: 50%;
        background-position-x: center;
        top: 30px;
        width: 100%;
        height: 100%;
        position:absolute;
        vertical-align: middle;  
    }
    .options-list li{
        list-style-type: none;
        padding-top: 5px;
    }
    .options-list{
        top:120px;
        width: 100%;
        position: absolute;
    }
    .options-list li button{
        font-family: Calibri, Helvetica, sans-serif; 
        font-size: 10px;
        color: white;
        background: none;
        border: none;
    }
    .options-list a{
        color: white;
    }
    .options-list a:link{
        text-decoration: none;
    }
    .side-close button{
        display: inline-block;
        color: white;
        background:  rgb(62, 62, 112);
        border: white;
        margin-left:89px;
        z-index: 1;
    }
    .dashboard{
        width:70%;
        height:100%;
        top:40px;
        left:0px;
        margin: auto;
        position: absolute;
        background: white;
        z-index: -1;
    }
    .availablebooks{
        display: none;
        width:70%;
        height:auto;
        top:0px;
        left:90px;
        margin: auto;
        position: absolute;
        background: white;
        z-index: -1;
    }
    .newarrivals{
        display: none;
        width:70%;
        height:auto;
        top:0px;
        left:90px;
        margin: auto;
        position: absolute;
        background: white;
        z-index: -1;
    }
    .booksborrowed{
        display: none;
        width:70%;
        height:auto;
        top:0px;
        left:90px;
        margin: auto;
        position: absolute;
        background: white;
        z-index: -1;
    }
    .addbooks{
        display: none;
        width:70%;
        height:auto;
        top:0px;
        left:90px;
        margin: auto;
        position: absolute;
        background: white;
        z-index:-1;
    }
    .book-details {
        display: grid;
        position: absolute;
        width:35%;
        top: 20px;
        left:  45px;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
      }
      .book-details > button{
        font-size: 10px;
        width: 120px;
        height: 60px;
      }
    .book-details > button:nth-child(3){
        position: absolute;
        top: 80px;
        left: 10px;
      }
    .book-details > button:nth-child(4){
        position: absolute;
        top: 80px;
        left: 150px;
      }
      .graph{
        background-size: cover;
        position: absolute;
        width:70px;
        height: 65px;
        top: 180px;
        left: 90px;
        padding: auto;
       }
   
   .graph1{
    background-size: cover;
    position: absolute;
    width:70px;
    height: 75px;
    top: 175px;
    left: 225px;
    padding: auto;
          }
   .graph2{
    background-size: cover;
    position: absolute;
    width:auto;
    height: 70px;
    top: 260px;
    left: 95px;
    padding: auto;
          }
   
   .graph3{
    background-size: cover;
    position: absolute;
    width:auto;
    height: 70px;
    top: 260px;
    left: 225px;
    padding: auto;
   }
   .quotes h2{
    width: 100%;
    text-align: center;
    margin-top:350px;
    margin-left: 60px;
    font-size:10px;
   }
   .quotes h3{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: 150px;
    font-size:10px;
    color: black;
   }
   .searchTerm {
    width: 88%;
    font-size: 7px;
    padding: 4px;
    border: 2px solid #ddd;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: -100px;
  }
  #wrapper ul {
    margin-top: 0px;
    padding: auto;
    width: 100%;
    list-style-type: none;
}
#wrapper ul li {
    background-color: rgb(200, 200, 245);
    padding: 8px 0px;
    margin-bottom: 5px;
    display: table;
    width: 90%;
    float: left;
    margin-left: -30px;
}
#wrapper ul li img {
    margin-top: 0px;
    margin-left: 5px;
    float: left;
    width: 40px;
    height: 60px;
    left: 10px;
}
#wrapper ul li .details {
    width: 70%;
    font-size: 7px;
}
#wrapper ul li .details h1{
    margin-top: 10px;
    font-size: 8px;
}
#wrapper ul li .details button{
    position: absolute;
    font-size: 6px;
    color: black;
    margin-left: 80px;
    margin-top: -16px;
    border-radius: 4px;
    background-color:  rgb(158, 158, 161);
}
#wrapper ul li .details .close{
    position: absolute;
    font-size: 6px;
    color: black;
    margin-left: 40px;;
    margin-top: auto;
    border-radius: 4px;
    background-color: rgb(158, 158, 161);
    width: 35px;
}
.booksborrowed table {
    font-family: arial, sans-serif;
    width: 90%;
    margin-top: 50px;
    margin-left: -25px;
    margin-right: auto;
    position: absolute;
    left: 10px;
  }
  
.booksborrowed td, .booksborrowed th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
    font-size: 8px;
  }
  .download button{
    display: flex;
    margin-top: 50px;
    margin-left: -10px;
    margin-bottom: -40px;
    font-family: Calibri, Helvetica, sans-serif; 
    font-size: 10px;
    color: black;
    font-weight: bold;
    background: lightgreen;
    border-radius: 3px;
}
form {   
    margin: auto;
    margin-top: 30px;
    width: 90%;
    padding: 10px 10px;
    font-size: 8px;
    margin-left: -25px;
  }
  .container input[type=text]{   
      width: 100%;   
      margin: auto;  
      padding: 5px 5px;   
      display: inline-block;    
      box-sizing: border-box; 
      font-size: 8px;  
  } 
  .error{
      color: red;
    }
  .add-book button:hover {   
      opacity: 0.7;   
  }    
  .container {   
      width: 90%;
      padding: 10px; 
      margin-top:40px;
      margin-left: 0px;
      background: rgb(200, 200, 245);
  }  
  .add-book button{
      background-color: #4CAF50;   
      width: 100%;  
      color: orange;   
      padding: 5px;   
      margin: 4px 0px;   
      border: none;   
      cursor: pointer;  
      font-size: 10px;
  }
  .container input[type=file]{   
    width: 100%;   
    margin: auto;  
    padding: 5px 5px;   
    display: inline-block;    
    box-sizing: border-box; 
    font-size: 8px;  
} 
  }